<!doctype html>
<html>
  <head>
    <title>About <%=data.name%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <%- include('header') %>
  <body>
    <h1>About <%=data.name%></h1>
    <p>A comprehensive list of all the events around London!!</p>
  </body>
</html>