<header>
    <!-- Link to index page by clicking site name -->
    <h1><a href="/"><%=data.name%></a></h1>
    
    <nav>
        <!-- Website navigation -->
        <a href="/users/profile">Go to Profile</a>
        <a href="/users/list">See other users</a>
        <a href="/events/list">See all events</a>
        <a href="/weather/">Weather</a>
    </nav>
</header>
<main>
