<!doctype html>
<html>
  <head>
    <title>Welcome to <%=data.name%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <!-- Add header to the page -->
  <%- include('header') %>
  <body>
    <h1>
      Welcome to <span class="shop-name"><%= data.name %></span>
    </h1>
    <p><a href="about">About <%=data.name%></a></p>
    <p><a href="events/search">Search for events</a></p>
    <p><a href="events/list">See all events</a></p>
    <p><a href="events/addevent">Add a new event</a></p>
    <p><a href="weather/">Check the weather</a></p>
    <p><a href="api/events">Our API</a></p>
    <p><a href="users/login">Login or register</a></p>
  </body>
</html>
