<!doctype html>
<html>
  <head>
    <title>Login to <%=data.name%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <%- include('header') %>
  <body>
    <h1>Login to <%=data.name%></h1>
    <form method="POST" action="/users/login">
        <p>Username: <input id="username" type="text" name="username" placeholder="Username" /></p>
        <p>Password: <input id="password" type="password" name="password" /></p>
        <input type="submit" value="Login" />
        <p><a href="./register">Register with <%=data.name%></a></p>
      </form>
  </body>
</html>