<!doctype html>
<html>
  <head>
    <title>Profile - <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>`Hello, ${username}!`</h1>
    <p>sample text</p>
    <p><a href="./logout">Logout</a></p>
  </body>
</html>