<!doctype html>
<html>
  <head>
    <title>Search <%=data.name%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <%- include('header') %>
  <body>
    <h1>Search <%=data.name%></h1>
    <form action="search_result" method="GET">
      <p>What event are you looking for?</p>
      <input id="search_box" type="text" name="search_text">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>