<!DOCTYPE html>
<html>
<head>
  <title>Weather App</title>
  <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<%- include('header') %>
<body>
  <h1>Search Weather</h1>
  <form method="GET" action="/weather/search_result">
    <label for="city">Enter city name:</label>
    <input type="text" id="city" name="city" placeholder="e.g., London">
    <button type="submit">Get Weather</button>
  </form>
</body>
</html>